.App {
  margin: 40px;
  width: 60%;
  margin: 0px auto;
}

ul#in-items {
  padding: 0px;
}

ul#in-items li {
  list-style: none;
  border: 1px solid gray;
  margin: 20px 0px;
  padding: 10px;
  width: auto;
}